BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never   # Możesz dać "ForIndentation", jeśli chcesz tylko do wcięć
NamespaceIndentation: None  # Nie dodaje wcięcia dla namespace
BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterEnum: true
  AfterControlStatement: false
  IndentBraces: false
AccessModifierOffset: -4  # Brak wcięcia dla public/private/protected
ColumnLimit: 100  # Maksymalna szerokość linii
